{% extends 'base.html.twig' %}
{% block body %}

<div class="parallax-content baner-content" id="home">
        <div class="container">
            <div class="text-content">
                <h2><em>AEGIS </em> <span>PROTECTION</span></h2>
                <p>“WE’VE GOT YOUR BACK”</p>
                {#<div class="primary-white-button">
                    <a href="#" class="scroll-link" data-id="about">Let's Start</a>
                </div>#}
            </div>
        </div>
    </div>
    <section id="portfolio">
        <div class="bando">
            <h3 class="pres">Présentation</h3>
        </div>
        <div class="row">
            <p class="who">
            Aegis Protection est une société française de sécurité privée spécialisée dans la protection rapprochée en France comme à l’étranger.<br>
            Nous sommes tous issues d’unités d’élite de l’armée française ou des forces de l’ordres, spécialement formés pour répondre aux besoins uniques de chaque client. Nous offrons fiabilité, professionnalisme, et proactivité qui sont les piliers essentiels pour garantir une sécurité optimale.<br>
            Nous sommes fiers de notre approche haut de gamme, qui allie la discrétion à l'excellence opérationnelle. Grâce à une expérience solide dans le domaine, nous avons développé une expertise unique en matière de protection, permettant à nos clients de vaquer à leurs occupations en toute confiance.<br>
            La recherche de la perfection est constante, c’est pour cela que nous restons à la pointe des techniques de protection et suivons régulièrement des formations pour faire face aux menaces émergentes. Nous savons que chaque mission est unique, et c'est pourquoi nous proposons des services sur mesure pour répondre à vos besoins spécifiques.<br>
            <br>
            Élitisme, professionnalisme et confidentialités sont nos maîtres-mots.
            </p>
        </div>
    </section>


    <section id="about" class="page-section">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="service-item">
                        <div class="icon">
                            <img src="img/costume.png" alt="">
                        </div>
                        <h4>Dirigeant</h4>
                        <div class="line-dec"></div>
                        <p>Chef d’entreprise, haut responsable, représentant, politique, presse… Nous assureront votre protection en toute discrétion, interférant le moins possible dans vos activité, facilitant vos obligations en vous garantissant la plus grande confidentialité.</p>
                        {#<div class="primary-blue-button">
                            <a href="#" class="scroll-link" data-id="portfolio">Continue Reading</a>
                        </div>#}
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="service-item">
                        <div class="icon">
                            <img src="img/etoile.png" alt="">
                        </div>
                        <h4>Célébrité</h4>
                        <div class="line-dec"></div>
                        <p>En plus de vous assurer une protection sans faille, nous saurons nous adapter sans délais à tous changements de dernière minutes, préserverons votre image public en restant professionnel peut importe la situation et respecterons votre vie privée.</p>
                        {#<div class="primary-blue-button">
                            <a href="#" class="scroll-link" data-id="portfolio">Continue Reading</a>
                        </div>#}
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="service-item">
                        <div class="icon">
                            <img src="img/exterieur.png" alt="">
                        </div>
                        <h4>Particulier</h4>
                        <div class="line-dec"></div>
                        <p>Victime de menaces sérieuse, d’harcèlement ou inquiet pour votre sécurité et celle de vos proche, nous vous proposeront une solutions adaptée a vos problemes vous permettant de retrouver votre sérénité.</p>
                        {#<div class="primary-blue-button">
                            <a href="#" class="scroll-link" data-id="portfolio">Continue Reading</a>
                        </div>#}
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="service-item">
                        <div class="icon">
                            <img src="img/chercher.png" alt="">
                        </div>
                        <h4>Audit</h4>
                        <div class="line-dec"></div>
                        <p>L’anticipation et la prévention sont des éléments clefs. Nous vous proposons une expertise de professionnels et vous apportons des conseils et solutions de sécurité personnalisées.</p>
                        {#<div class="primary-blue-button">
                            <a href="#" class="scroll-link" data-id="portfolio">Continue Reading</a>
                        </div>#}
                    </div>
                </div>
            </div>
        </div>
    </section>


    {#<section id="testimonial">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div id="owl-testimonials" class="owl-carousel owl-theme">
                        <div class="item">
                            <div class="testimonials-item">
                                <p>“ Quisque ullamcorper odio a nisl lacinia dictum. Vestibulum malesuada ipsum in turpis finibus, ut sagittis erat scelerisque. Curabitur non risus fringilla libero accumsan molestie et quis justo. ”</p>
                                <h4>George Rich</h4>
                                <span>Marketing Head</span>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonials-item">
                                <p>“ Suspendisse magna mauris, convallis vel finibus eget, lobortis dictum neque. Nam tincidunt metus nec eros dignissim consectetur. ”</p>
                                <h4>John Henry</h4>
                                <span>Art Director</span>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonials-item">
                                <p>“ Aenean semper aliquam est ut maximus. Fusce id diam eget orci lobortis ultricies at ac velit. Curabitur laoreet massa et fringilla sagittis. ”</p>
                                <h4>Danny Cute</h4>
                                <span>Founder</span>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonials-item">
                                <p>“ Maecenas eu odio pharetra, elementum lorem eget, efficitur erat. Duis eget justo non nisi iaculis vestibulum. Aliquam erat volutpat. ”</p>
                                <h4>Richard Beal</h4>
                                <span>Senior Developer</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>#}

    <div class="tabs-content" id="blog">
        <div class="container">
            <div class="row">
                <div class="wrapper">
                    <div class="col-md-4">
                        <div class="section-heading">
                            <h4>Qui sommes-nous</h4>
                            <div class="line-dec"></div>
                            <p></p>
                            <ul class="tabs clearfix" data-tabgroup="first-tab-group">
                                <li><a href="#tab1" data-id="tab1">Expérimentés</a></li>
                                <li><a href="#tab2" data-id="tab2">Dévoués</a></li>
                                <li><a href="#tab3" data-id="tab3">Professionnels</a></li>
                                <li><a href="#tab4">Sur-mesure</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <section id="first-tab-group" class="tabgroup">
                            <div id="tab1">
                                <img src="{{ asset('photo/ombre.jpg')}}" alt="">
                                <div class="text-content">
                                    <h4>Expérimentés</h4>
                                    <p>Aegis Protection est une équipe de professionnels de confiance, aguerris, issus d'unités d'élite de l’armée française, des forces de l’ordres ainsi que des forces spéciales. L’expérience acquise sous les drapeaux nous a forgé une expertise unique en matière de protection, de réactivité et de gestion de crises que nous mettons désormais à votre service.</p>
                                </div>
                            </div>
                            <div id="tab2">
                                <img src="{{ asset('photo/fr.jpg')}}" alt="">
                                <div class="text-content">
                                    <h4>Dévoués</h4>
                                    <p>La protection rapprochée est notre vocation, et nous sommes passionnés par notre métier. Notre parcours nous a enseigné l'importance de la précision, de l'anticipation et de la réactivité pour faire faces aux situations des plus critiques. Ces valeurs sont au cœur de notre approche.</p>
                                </div>
                            </div>
                            <div id="tab3">
                                <img src="{{ asset('photo/arc.jpg')}}" alt="">
                                <div class="text-content">
                                    <h4>Professionnels</h4>
                                    <p>Nos gardes du corps sont soigneusement sélectionnés pour leur expertise technique ainsi que pour leurs qualités humaines. Ces deux aspects sont essentiels pour offrir une protection rapprochée de premier ordre, adaptée à tous les environnements, respectant les principes de confidentialité.</p>
                                </div>
                            </div>
                            <div id="tab4">
                                <img src="{{ asset('photo/oeil2.avif')}}" alt="">
                                <div class="text-content">
                                    <h4>Sur-mesure</h4>
                                    <p>Chaque mission de protection rapprochée est unique, avec ses propres défis et exigences spécifiques. C'est pourquoi nous sommes fiers de notre capacité à offrir des solutions sur mesure pour répondre à vos besoins spécifiques, quelle que soit la complexité de la mission.<br>
                                    Nous sommes la pour vous,<br>
                                    “We’ve got your back!”
                                    </p>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="contact-us">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading">
                        <h4>Contact</h4>
                        <div class="line-dec"></div>
                            <p>
                               Pour toute demande ou pour obtenir des informations supplémentaires, n'hésitez pas à nous contacter. 
                               Notre équipe de professionnels est là pour répondre à toutes vos questions.
                            </p>
                        <div class="pop-button">
                            <h4><a href="mailto:contact@aegis-protection.fr">nous écrire</a></h4>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
<!--
    <div id="map">
    	 How to change your own map point
            1. Go to Google Maps
            2. Click on your location point
            3. Click "Share" and choose "Embed map" tab
            4. Copy only URL and paste it within the src="" field below
        
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7895.485196115994!2d103.85995441789784!3d1.2880401763270322!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x7fb4e58ad9cd826e!2sSingapore+Flyer!5e0!3m2!1sen!2sth!4v1505825620371" width="100%" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>-->

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <div class="logo">
                        <a class="logo-ft scroll-top" href="#"><em>AEGIS </em> PROTECTION</a>
                        <p>Copyright &copy; 2023 Aegis protection 
                       <br>Creation: <a href="#">GDel84</a><br>
                        <a href="{{ path('mention-legale')}}">Mention légale</a>
                       </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="location">
                        <h4>Localisation</h4>
                        <ul>
                            <li>Paris</li><br>
                            <li> </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="contact-info">
                        <h4>Plus d'information</h4>
                        <ul>
                            <li><em>Téléphone</em>: +336 66 44 70 24</li><br>
                            <li><em>Email</em>: contact@aegis-protection.fr</li>
                        </ul>
                    </div>
                </div>
                {#<div class="col-md-2 col-sm-12">
                    <div class="connect-us">
                        <h4>Get Social with us</h4>
                        <ul>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-google"></i></a></li>
                            <li><a href="#"><i class="fa fa-rss"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                        </ul>
                    </div>
                </div>#}
            </div>
        </div>
    </footer>


{% endblock %} 